/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NCBI_DOWNLOAD' {
        maxForks = 3
        publishDir = [
            path: { "${meta.outdir}/assembly" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('assembly_report.txt') || filename.endsWith('assembly_stats.txt') || filename.endsWith("ACCESSION") ? filename : null }
        ]
    }

    withName: '.*:.*:PREPARE_UNMASKED_FASTA:.*' {
        publishDir = [
            path: { "${meta.outdir}/assembly" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:(PREPARE_REPEAT_MASKED_FASTA:.*|PREPARE_REPEATS:TABIX_.*)' {
        publishDir = [
            path: { "${meta.outdir}/repeats/ncbi" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TABIX_BGZIP' {
        ext.args = "-i"
    }
    withName: 'TABIX_TABIX_CSI' {
        ext.args = "--preset bed --csi"
    }
    withName: 'TABIX_TABIX_TBI' {
        ext.args = "--preset bed"
    }

    // Otherwise the .dict includes paths from Nextflow's work/ directory
    withName: SAMTOOLS_DICT {
        ext.args = { "--uri ${task.publishDir.path[0]}/${fasta.name}.gz" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: params.tracedir,
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
