/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running CSV-based tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines the parameters required to run the pipeline off a CSV file that defines the assemblies to download

    Use as follows:
        nextflow run sanger-tol/insdcdownload -profile test_csv,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'CSV test profile'
    config_profile_description = 'CSV test dataset to check pipeline function'

    // Path to a sample csv file
    input = "${projectDir}/assets/samplesheet.csv"
}
